{% extends 'page.twig' %}

{% block onload %}
    $('#alert').on('click', function(){
        bootbox.alert('Hello World')
    })
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Welcome</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class="col-md-12">
            Welcome to the site.
	    </div>
    </section>
{% endblock main %}
