{% extends 'page.twig' %}

{# this brings in some useful macros for making forms
{% import 'form.twig' as f %}
#}

{% block title %}
  {{context.user.login}} Profile
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
  <section class="row">
    <div class="col-md-offset-2 col-md-10">
      <h1>{{context.user.login}}</h1>
      <p>{{context.user.email}}</p>
    </div>
    <div class="col-md-2">
      <p>2 columns</p>
    </div>
  </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
