{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block title %}
  Publication Types
{% endblock title %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row">
    <div class="col-md-offset-2 col-md-10">
        <h2>Add a new Type</h2>
        <form action="#" method="post">
            {{ f.text({label: 'Publication Type', name: 'name', ph: 'Please enter a Publication Type Name', required: 1 }) }}
            {{ f.text({label: 'Description', name: 'description', ph: 'Please enter a Description', required: 1 }) }}
            <button type="submit" class="btn btn-primary btn-lg">Create</button>
        </form>
    </div>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
