<h3>Options</h3>
<div>
    <a href="/publication/"><i class="fa fa-list"></i>&nbsp;List</a>
</div>
{% if context.hasuser %}
<div>
    <a href="/publication/create"><i class="fa fa-plus-square-o"></i>&nbsp;Create</a>
</div>
{% endif %}
{% if (errors) %}
<h3>Errors</h3>
<div class="alert alert-warning">
    <ul>
    {% for e in errors %}
        <li>{{e}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
