<h3>Options</h3>
<div>
    <a href="/publication/"><i class="fa fa-list"></i>&nbsp;List</a>
</div>
{% if context.hasuser %}
<div>
    <a href="/publication/create"><i class="fa fa-plus-square-o"></i>&nbsp;Create</a>
</div>
{% endif %}
<h3>Messages</h3>
{% include 'message.twig' %}
